* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo h1 b {
    color: aqua;
}

.menu {
    height: 80px;
}

.menu nav {
    height: 100%;
}

.menu nav ul {
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li {
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-cover {
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../imagenes/FONDOINFO.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-cover::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(45, 106, 145, 0);
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a {
    color: #777777;
    font-size: 18px;
    transition: color 300ms;
}

.container-cover-info {
    max-width: 800px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-cover-info h1 {
    font-size: 60px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}

.container-cover-info p {
    color: rgb(10, 1, 1);
    font-size: 20px;
    font-weight: 300;
}


/*contenido del articulo*/

.container-content {
    width: 1200px;
    margin: auto;
    margin-top: 40px;
}

article {
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background: #9acabc;
}

article h1 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}

article p {
    margin-top: 20px;
    font-size: 25px;
    color: #3c3c3c;
}

article a {
    color: #bb2e2e;
    margin-top: 20px;
    font-size: 18px;
}


/*el pie de pagina o footer*/

.container-footer {
    width: 100%;
    padding: 40px 0;
    background: #7eabff;
    margin-top: 40px;
}

.container-footer footer {
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo {
    text-align: center;
}

.container-footer footer .logo img {
    width: 100px;
}

.container-footer footer .redes-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer {
    font-size: 20px;
    margin: 20px;
    background: #5d7fdb;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

.container-footer footer .redes-footer .fa-facebook:hover {
    background: blue;
    color: #fff;
}

.container-footer footer .redes-footer .fa-discord:hover {
    background: blue;
    color: #fff;
}

.container-footer footer .redes-footer .fa-google:hover {
    background: rgb(221, 127, 127);
    color: #fff;
}

.container-footer footer hr {
    margin-top: 20px;
    border-radius: none;
    height: 2px;
    background: black;
}

.container-footer h3 {
    text-align: center;
    margin-top: 40px;
    color: rgb(11, 15, 15);
    font-weight: 500;
}
